@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to right, #ffa62f, #ffa62f);
  
}
.login_body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e0914c;
  font-family: sans-serif;
}

.react-tel-input .form-control {
  color: black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

  
label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}


h1 {
  font-family: "Sevillana", cursive;
  font-size: 46px;
  font-weight: bold;
  color: #acd793;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task_alligned {
  display: flex;
  justify-content: center;
  gap: 500px;
  top: 100px;
}
.taskRemaining {
  font-size: larger;
  background-color: #d8e4fb; /* White background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  max-width: fit-content;
  background-image: linear-gradient(to right, #ffe8c8, #ffe8c8);
}
.glow-on-hover {
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.delete {
  color: #ff1467ed;
  height: 35px;
}

#deleteMe {
  background-color: red;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #acd793;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button {
  display: inline;
  margin: 5px;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskCompleted {
  font-size: larger;
  background-color: #d8e4fb; /* White background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-image: linear-gradient(to right, #ffe8c8, #ffe8c8);
  margin-top: 5px;
  margin-bottom: 5px;

  max-width: fit-content;
}
.dacoo {
  display: flex;
  justify-content: center;
  font-size: larger;
  background-color: #d8e4fb; /* White background */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  background-image: linear-gradient(to right, #ffe8c8, #ffe8c8);
  margin-bottom: 5px;
  margin-top: 5px;
}

.login_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}
.input_login{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}